<html>
    <head>
        <meta charset="utf-8">
        <title>NetMonintor System</title>
        <link rel="stylesheet" href="{{ url_for( 'static', filename= 'css/bootstrap.min.css' )}}"  >
        <link rel="stylesheet" href="{{ url_for( 'static', filename= 'css/style.css' )}}" >
        <nav class="menu">
            <ul id="menu"> 
              <li><a href="/dashboard">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href=/logout>Logout</a></li>
            </ul>
          </nav>
    </head>
    <body>
        <div class="container_cus">
            <div>
                <div class="devices_list">
                    <h3>Devices Info</h3>
                    <table style="border:3px #cccccc solid;" cellpadding="10" border='1'>
                        <tr>
                            <td>Hostname</td>
                            <td id="Hostname"></td>
                        </tr>
                        <tr>
                            <td>System Uptime</td>
                            <td id="Uptime"></td>
                        </tr>
                    </table>
                    <h3>Interface</h3>
                    <table class="interface_table" id="interface_table" style="border:3px #cccccc solid;" cellpadding="10" border='1'>
                        <tr>
                            <td>Name</td>
                            <td>Status</td>
                            <td>Speed</td>
                            <td>In_byte</td>
                            <td>Out_byte</td>
                            <td>In_packet</td>
                            <td>Out_packet</td>
                        </tr>
                        {% set num = 0 %}
                        {% for interface in interfaces  %}
                        <tr>
                            <td id="interface_name_{{ loop.index }}"></td>
                            <td id="interface_status_{{ loop.index }}"></td>
                            <td id="interface_speed_{{ loop.index }}"></td>
                            <td id="in_byte_{{ loop.index }}"></td>
                            <td id="out_byte_{{ loop.index }}"></td>
                            <td id="in_packet_{{ loop.index }}"></td>
                            <td id="out_packet_{{ loop.index }}"></td>
                        </tr>
                            
                        {% endfor %}
                    </table>
                </div>
                <div class="function">
                    <a href=/dashboard>
                        <button class="button" name="return" type="button">Return</button>
                    </a>
                    <a href=/device/delete/{{ deviceID }}>
                        <button class="button" name="return" type="button">Delete</button>
                    </a>
                </div>
            </div>
        </div>
    </body>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script> 
    <script type="text/javascript" >
        var urls = myFunc({{ deviceID }});
        repeatedly_get();
    </script>

</html>